<div class="container-fluid">
    <div class="container">
        <footer>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
                <div class="col mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../../assets/images/flag.svg" alt="numero vert" width="80" height="60">
                        <p class=" mb-0 ms-2">République Tunisienne | Ministère du Transport</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/images/logo.png" alt="numero vert" width="80" height="60">
                        <p class=" mb-0 ms-2">Agence Technique des Transports Terrestres</p>
                    </div>
                </div>
                <div class="col mb-3">
                </div>
                <div class="col mb-3">
                    <div class="d-flex align-items-center mb-3">
                        <i class="bi bi-telephone " style="width: 16;height: 16;"></i>
                        <h5 class=" mb-0 ms-2">+216 71 11 22 00</h5>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <img src="../../assets/images/nVert.svg" alt="numero vert" width="50" height="16">
                        <h5 class=" mb-0 ms-2">80 10 03 07</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-envelope "></i>
                        <h5 class="mb-0 ms-2"><a href="mailto:infoattt@attt.tn" target="_blank"
                                class="nav-link p-0">infoattt&#64;attt.tn</a></h5>
                    </div>
                </div>

                <div class="col mb-3">
                    <h5>Liens utiles</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="http://www.transport.tn/" target="_blank"
                                class="nav-link p-0">Ministère
                                du Transport</a></li>
                        <li class="nav-item mb-2"><a href="https://www.attt.com.tn/index.php?code_menu=7"
                                target="_blank" class="nav-link p-0">ATTT</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5 class=""><a href="#" class="nav-link p-0">Acceuil</a></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">A propos</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
                <p>&copy;2024 ATTT | Tous droit réservés</p>
                <a class="bi bi-facebook " href="https://www.facebook.com/ATTT.Tunisie/" target="_blank"
                    style="font-size: 24px;"></a>
            </div>
        </footer>
    </div>
</div>