<div class="container text-center my-5">
    <h1 class="m-5">Présentation de l’Agence Technique des Transports Terrestres (ATTT)</h1>
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-lg-end justify-content-center my-lg-0 my-5">
            <div class="card p-3 shadow col-md-10">
                <div class="card-title row">
                    <div class="col-3">
                        <img src="../../assets/images/juridique.svg" alt="juridique">
                    </div>
                    <div class="col-8 mt-3 ms-1">
                        <h4 class="card-title">Forme Juridique</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">L’Agence Technique des Transports Terrestres (ATTT) est un établissement public
                        à caractère non administratif considérée comme entreprise publique.
                        Régie par la loi n°98-108 du 28 décembre 1998, l’ATTT a pris la suite de l’Agence de Visite
                        Technique des véhicules créée en 1995, en vertu de la loi n° 95-61 du 3 juillet 1995.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center my-lg-0 my-5">
            <div class="card p-3 shadow col-md-10">
                <div class="card-title row">
                    <div class="col-3">
                        <img src="../../assets/images/Mission.svg" alt="juridique">
                    </div>
                    <div class="col-8 mt-3 ms-1">
                        <h4 class="card-title">Mission</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">L'agence technique des transports terrestres est chargée des missions suivantes
                        :
                        Effectuer les formalités et les opérations techniques relatives aux véhicules, conformément à la
                        législation et à la réglementation
                        en vigueur,
                        Effectuer les formalités et les opérations relatives aux permis de conduire,
                        Créer, aménager, entretenir, équiper et exploiter les gares routières.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-lg-start justify-content-center my-lg-0 my-5">
            <div class="card p-3 shadow col-md-10">
                <div class="card-title row">
                    <div class="col-3">
                        <img src="../../assets/images/effectifs.svg" alt="juridique">
                    </div>
                    <div class="col-8 mt-3 ms-1">
                        <h4 class="card-title">Effectifs</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">L’effectif global de l’ATTT en décembre 2019, était de 1606 agents répartis
                        comme suit :
                        578 Cadres
                        635 Agents de maîtrise
                        393 Agents d’exécution.
                        L’ensemble du personnel est géré conformément à un statut particulier (décret n° 2002-1672 du 15
                        juillet 2002).
                        Elle exploite 29 centres de visite technique et d’identification, 41 centres d’examens pratiques
                        de permis de conduire de la catégorie B, 23 centres d’examens pratiques des véhicules lourds, 28
                        centres d’examens théoriques de permis de conduire et 22 gares routières.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>