<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h3>Contact</h3>
                <h5>Agence Technique des Transports Terrestres</h5>
            </div>
            <div class="border-top border-bottom">
                <p>
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
                        aria-expanded="false" aria-controls="collapseWidthExample">
                        ATTT Siège socials
                    </button>
                </p>
                <div style="min-height: 0px; ">
                    <div class="collapse collapse-vertical" id="collapseWidthExample">
                        <div class="card card-body" style="width: 300px; border: none;">
                            - Avenue du Japon, Impasse 1, N° 6,
                            - Montplaisir , « Bourjel » , 1073 , Tunis – Tunisie
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-bottom">
                <p>
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2"
                        aria-expanded="false" aria-controls="collapseWidthExample2">
                        Service communication et écoute client
                    </button>
                </p>
                <div style="min-height: 0px;">
                    <div class="collapse collapse-vertical" id="collapseWidthExample2">
                        <div class="card card-body" style="width: 300px; border: none;">
                            - Avenue du Japon, Impasse 1, N° 6,
                            - Montplaisir , « Bourjel » , 1073 , Tunis – Tunisie
                            - Permis de conduire
                            - Certificat d'immatriculation
                            - Identification des véhicules
                            - Carte d'exploitation
                            - Contrôle technique
                            - Montplaisir , « Bourjel » , 1073 , Tunis – Tunisie
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-bottom">
                <p>
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3"
                        aria-expanded="false" aria-controls="collapseWidthExample3">
                        Téléphone et Faxe
                    </button>
                </p>
                <div style="min-height: 0px;">
                    <div class="collapse collapse-vertical" id="collapseWidthExample3">
                        <div class="card card-body" style="width: 300px; border: none;">
                            Téléphone +216/ 71 11 22 00
                            Fax 71.907.928
                            Numéro Vert 80 10 03 07
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-md-0 mt-5" id="contact">
            <form action="#" method="post">

                <div class="mb-3">
                    <label for="name" class="form-label"></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom & Prénom" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label"></label>
                    <textarea class="form-control" id="message" rows="5" name="message" placeholder="Message"
                        required></textarea>
                </div>

                <div>
                    <button type="submit" class="btn text-white px-3 py-2" style="background-color: #335094;"><span><img
                                src="../../assets/images/envIcon.svg" class="pe-3"></span>Envoyer </button>
                </div>

            </form>
        </div>
    </div>
</div>