<div class="container card py-5">
    <div class="row">
        <div class="col">
            <button type="button" class="btn">
                <div class="card-title row">
                    <div class="col-3">
                        <img src="../../assets/images/date.svg" width="50px" alt="date">
                    </div>
                    <div class="col-8">
                        <h4 class="card-title">Changement Rendez-vous.</h4>
                    </div>
                </div>
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn">
                <div class="card-title row">
                    <div class="col-3">
                        <img src="../../assets/images/receipt.svg" width="50px" alt="quittence">
                    </div>
                    <div class="col-8">
                        <h4 class="card-title">Réédition Quittance de RDV. </h4>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <div class="row pt-md-3">
        <div class="col d-flex justify-content-end ">
            <button type="button" class="btn" id="suivant" (click)="onClose();">Annuler</button>
        </div>
    </div>
</div>