<div class="image-container">
    <div class="image-wrapper">
        <div>
            <img src="../../assets/images/logo/alfaRomeo.svg" alt="alfaRomeo" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/audi.svg" alt="audi" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/BMW.svg" alt="BMW" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/citroen.svg" alt="citroen" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/FIAT.svg" alt="FIAT" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/ford.svg" alt="ford" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/hyundai.svg" alt="hyundai" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/isuzu.svg" alt="isuzu" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/jeep.svg" alt="jeep" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/kia.svg" alt="kia" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/mercedes.svg" alt="mercedes" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/Nissan.svg" alt="Nissan" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/Peugeot.svg" alt="Peugeot" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/porsche.svg" alt="porsche" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/renault.svg" alt="renault" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/SEAT.svg" alt="seat" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/skoda.svg" alt="skoda" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/Suzuki.svg" alt="Suzuki" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/toyota.svg" alt="toyota" width="60" height="60" class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/Volkswagen.svg" alt="Volkswagen" width="60" height="60"
                class="img-fluid">
        </div>
        <div>
            <img src="../../assets/images/logo/Wallyscar.svg" alt="Wallyscar" width="60" height="60" class="img-fluid">
        </div>
    </div>
</div>