<div class="container py-5">
    <div class="row d-flex justify-content-start m-0 p-0 pt-lg-5 pb-3">
        <div class="col-6 m-0">
            <h1 class="m-0">Bienvenue sur l'espace de prise de RDV pour la Visite Technique.</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-md-start m-0 pt-3 pb-5 ps-lg-4">
        <div class="col-md-6 p-0 m-0" id="bt">
            <button type="button" class="btn btn-primary" routerLink="/rendezvous">Prendre un RDV</button>
            <button type="button" class="btn p-0 ps-lg-3" (click)="openDialog()">Plus de services<i
                    class="bi bi-arrow-right"></i></button>
        </div>
    </div>
</div>